/*-------------------------------------Fonts---------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');

body {
    font-family: 'Roboto', sans-serif; 
}

/*-------------------------------------Navbar---------------------------------------------*/



/*-------------------------------------Images---------------------------------------------*/
.main-image {
    height: 120vh;
    max-width: 100%;
    background: url("../images/damien-hero.jpg") no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    
}

p {
    float: left;
    align-items: left;
}



/*-------------------------------------Body---------------------------------------------*/





/*-------------------------------------Footer-------------------------------------------*/

.footer-social {
    padding-top: 25px;
}

.social-links {
    border-top: 20px solid;
    background-color: grey;
    text-align: center;
}


.social i {
    font-size: 30px;
    letter-spacing: 25px;
    color: #fafafa;
    text-align: center;
    padding-top: 25px;
}

.john {
    color: #fafafa;
    padding-bottom: 25px;
}

/*-------------------------------------About Me Section-------------------------------------------*/

section {
    font-family: ;
    font-size: 16px;
    text-align: center;
    word-spacing: 1px;
}

h1 {
    padding-top: 15px;
}

h2 {
    padding-top: 15px;
}

section p {
    padding-top: 15px;
}

.musical-career {
    border-bottom: 2px;
}
